@font-face {
    font-family: 'Alan Sans';
    src: url("./AlanSans-VariableFont_wght.ttf") format("truetype");
}

#pagetitle {
    text-align: center;
    font-family: 'Alan Sans';
    size: 32px;
}

image {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
}

#contents {
    float: right;
    font-family: 'Alan Sans';
}