@font-face {
    font-family: 'Alan Sans';
    src: url("./AlanSans-VariableFont_wght.ttf") format("truetype");
}

#pagetitle {
    text-align: center;
    font-family: 'Alan Sans';
    size: 32px;
}

img {
    margin-top: auto;
    margin-left: auto;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    float: left;
}

#groupedbox {
    border: 5px solid gray;
    background-color: lightgray;
    border-radius: 5%;
    font-family: 'Alan Sans';
    margin-right: 15%;
    margin-left: 15%;
}