@font-face {
    font-family: 'Alan Sans';
    src: url("./AlanSans-VariableFont_wght.ttf") format("truetype");
}

#pagetitle {
    text-align: center;
    font-family: 'Alan Sans';
    size: 32px;
}

img {
    margin-top: auto;
    margin-left: auto;
    margin-right: 50px;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    float: left;
}

#groupedbox {
    border: 5px solid gray;
    background-color: lightgray;
    padding: 20px;
    border-radius: 7%;
    font-family: 'Alan Sans';
    margin-right: 15%;
    margin-left: 15%;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: black;
}

#links {
    margin-right: 15px;
    margin-top: 10px;
    float: right;
    font-family: 'Alan Sans';
    font-size: 20px;
}