@font-face {
    font-family: 'Alan Sans';
    src: url("./AlanSans-VariableFont_wght.ttf") format("truetype");
}

* {
    font-family: 'Alan Sans';
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

body {
    background-color: #395166;
    margin: 0px 0px 0px 0px;
}

h1 {
    
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
    text-align: center; 
}

.divider {
    background-color: #ffffff;
    height: 10px;
}

.entry {
    background-color: #f87642;
    margin: 0px 0px 0px 0px;
}

#links {
    background-color: rgb(245, 171, 135);
    color: #395166 !important;
    font-size: 20px;
    height: 40px;
    padding: 10px 15px 0px 0px;
    text-align: right;
}