@font-face {
    font-family: 'Alan Sans';
    src: url("./AlanSans-VariableFont_wght.ttf") format("truetype");
}

* {
    font-family: 'Alan Sans';
}

h1 {
    text-align: center; 
}

.links {
    background-color: lightgray;
    height: 250px;
}